:root {
  --list-height: 500px;
  --filter-left-width: 560px;
  --filter-left-width-all: 632px;
  /* fonts */
  --body-text-general: Inter;
  --button-link: Inter;
  --body-text-xsmall-strong: Inter;
  
  /* font sizes */
  --button-link-size: 12px;
  --body-text-small-strong-size: 14px;
  --body-text-xsmall-size: 12px;
  --body-text-xsmall-strong-size: 12px;
  --body-text-general-size: 16px;
  --body-text-general-strong-size: 16px;
  --body-xxsmall-size: 10px;
  --font-size-base: 16px;
  /* Colors */
  --feedback-error-light: #fff5f5;
  --feedback-error-dark: #f63b3b;
  --grises-blanco: #fff;
  --grises-gris-01: #1f1f1f;
  --grises-gris-02: #2C2C2C;
  --grises-gris-04: #C6C6C6;
  --grises-gris-06: #f5f5f5;
  --principales-azul-data: #0f57fb;
  /* Spacing */
  --corner-full: 1000px;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  	font-family: var(--body-text-general);
    color: var(--grises-gris-02);
}
h2 {
  	font-size: var(--body-text-general-strong-size);
  	line-height: 22px;
  	font-weight: 600;
  	color: var(--grises-gris-02);
    margin: 0 0 4px 0;
}
button {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid #C6C6C6;
  color: #1F1F1F;
  width: max-content;
  background: none;
  cursor: pointer;
  i {
    color: #878787;
  }
  &.expand {
    line-height: 14px;
    font-weight: 600;
    color: var(--principales-azul-data);
    min-width: fit-content;
    border: none;
  }
  &.print {
    display: none;
    color: var(--principales-azul-data);
    border: 2px solid var(--principales-azul-data);
    img {
      width: 16px;
    }
  }
}
a {
  cursor: pointer;
}
.main-button {
  padding: 16px;
  gap: 10px;
  background: #0F57FB;
  color: #FFF;
  border: none;
  i {
    color: #FFF;
  }
}
ul {
  list-style: none;
  padding: 8px 0;
  margin: 0;
  li {
    padding: 8px 16px;
    border-top: 1px solid var(--grises-gris-06);
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.active::after {
      content: "";
      width: 6px;
      height: 12px;
      transform: rotate(35deg);
      border-top: solid var(--grises-gris-06);
      position: absolute;
      right: -36px;
      border-right: 2px solid;
    }
  }
}
#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.6);
  z-index: 10;
  padding: 30px;
  img {
    margin: calc(50vh - 30px) calc(50vw - 30px);
    width: 60px;
  }
}
.hidden {
  display: none !important;
}
.wrapper {
  position: relative;
  &.input-wrapper img {
    position: absolute;
    top: 16px;
    left: 16px;
  }
}
.icon {
  position: absolute;
  top: 14px;
  left: 16px;
  z-index: 1;
}
.tag {
  border-radius: var(--corner-full);
  background-color: var(--principales-azul-data);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  box-sizing: border-box;
  gap: 4px;
  text-align: center;
  font-size: var(--body-xxsmall-size);
  color: #FFF;
  width: fit-content;
  height: fit-content;
}
.title {
  display: flex;
  gap: 10px;
}
.title-details {
  gap: 10px;
  min-width: fit-content;
  display: none;
}
#filter-tags {
  display: flex;
  gap: 10px;
  .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #0F57FB;
    color: white;
    border-radius: 1000px;
    padding: 4px 8px;
    font-size: 10px;
    line-height: 16px;
    button {
      padding: 0;
      border: none;
      color: white;
      font-size: 9px;
      font-weight: 900;
    }
  }
}
#filters {
  z-index: 402;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
  justify-content: space-between;
  #filters-right {
    display: flex;
    gap: 10px;
    max-width: calc( 100% - var(--filter-left-width-all) );
    flex-wrap: wrap;
    .fas {
      position: absolute;
      z-index: 1;
      margin: 16px;
    }
    > div {
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
    }
  }
  #filters-left {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    .wrapper {
      display: flex;
      align-items: center;
      gap: 16px;
      position: relative;
      flex-wrap: wrap;
    }
    .small {
      display: none;
      flex-grow: 0;
    }
  }
  #search-res-wrapper {
    width: 100%;
  }
  .select-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: max-content;
    height: 24px;
    &.clear-filters {
      padding: 0 10px;
      width: max-content;
      margin: 0;
    }
  }
  .select-options {
    display: none;
    background: #fff;
    top: 0px;
    margin: 0;
    z-index: 402;
    position: absolute;
    width: min-content;
    top: 44px;
    left: 0;
    &.active {
      display: block;
    }
    li {
      padding-right: 30px;
      color: #00AA47;
      width: 100%;
    }
    label {
      height: 28px;
      display: flex;
      width: max-content;
      align-content: center;
      align-items: center;
      font-family: Barlow Condensed;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
  input[type="text"], input[type="date"] {
    height: 44px;
    padding: 0 10px 0 44px;
    border: 1px solid #C6C6C6;
    font-size: var(--body-text-general-size);
    line-height: 22px;
    font-family: var(--body-text-general);
    color: var(--grises-gris-01);
    border-radius: 4px;
    &::placeholder {
      font-size: var(--body-text-general-size);
      line-height: 22px;
      font-family: var(--body-text-general);
      color: var(--grises-gris-01);
    }
  }
  input[type="text"]::placeholder {
    color: var(--grises-gris-01);
    opacity: 1; /* Firefox */
  }
  
  input[type="text"]::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--grises-gris-01);
  }
  .date {
    width: 120px;
  }
  #search-res {
    min-width: var(--filter-left-width);
  }
  input[type="date"] {
    padding: 0 10px;
  }
  .ss-main {
    padding: 10px 15px 10px 40px;
    color: var(--grises-gris-01);
    border: 1px solid #C6C6C6;
    .ss-placeholder {
      font-size: var(--body-text-general-size);
      line-height: 22px;
      font-family: var(--body-text-general);
      color: var(--grises-gris-01);
    }
  }
  #results {
      font-size: var(--body-text-general-size);
      line-height: 22px;
      font-family: var(--body-text-general);
      color: #000;
      text-align: center;  
  }
}
#no-results {
  position: relative;
  z-index: 410;
  border-radius: 8px;
  background-color: var(--feedback-error-light);
  border: 1px solid var(--feedback-error-dark);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  gap: 16px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--feedback-error-dark);
  width: fit-content;
  margin: auto;
  div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    span {
      color: #2C2C2C;
      a {
        text-decoration: underline;
        color: #004D8A;
      }
    }
  }
  i.fas-close {
    position: absolute;
    right: 16px;
  }
  i.fas-circle-exclamation {
    position: absolute;
    left: 16px;
  }
}

#mapa-section {
  display: flex;
  flex-direction: column-reverse;
  ul {
    li {
      &.active {
        background-color: var(--grises-gris-06);
        border: none;
        .srv-header {
          .expand i {
            rotate: 90deg;
          }
          .sub-header {
            display: block;
          }
          .logo-wraper {
            display: flex;
          }
          .row {
            width: calc(100% - 80px);
          }
          .print {
            display: flex;
          }
        }
        .srv-body {
          display: flex;
        }
        .title-details {
          display: flex;
        }
      }
      h3 {
        justify-content: center;
        display: flex;
        gap: 10px;
        width: 100%;
        justify-content: left;
        padding-right: 34px;
        font-size: var(--button-link-size);
        text-decoration: underline;
        line-height: 14px;
        font-weight: 600;
        font-family: var(--button-link);
        color: var(--principales-azul-data);
        text-align: left;
        margin: 0 0 8px 0;
      }
      .srv-header {
        display: flex;
        align-items: center;
        width: 100%;
        cursor: pointer;
        gap: 10px;
        background: none;
        border: none;
        justify-content: space-between;
        i {
          margin-left: auto;
        }
        .logo-wraper {
          display: none;
        }     
        .sub-header {
          display: none;
          margin: 10px 0 0 0;
        }
        .title-left {
          display: flex;
        }
      }
      .srv-body {
        display: none;
        flex-direction: column;
        padding: 8px 16px;
        border-bottom: 1px solid var(--grises-gris-04);
        .row {
          padding: 8px 0;
          border-top: 1px solid var(--grises-gris-04);
          font-size: var(--body-text-xsmall-size);
          i {
            font-size: 16px;
          }
        }
        .org-title {
          i {
            color: #123BA8;
            fill: #123BA8;
          }
        }
        .information i {
          color:#00AA47;
        }
        .org-acts {
          padding: 10px 0;
          border-bottom: 1px solid #000;
          margin-bottom: 10px;
        }
        a.act-tag {
          &:visited {
            color:#123BA8;
          }
          img {
            width: 20px;
          }
          span {
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 14px; 
            color:#0F57FB;
          }
        }
        span {
          position: relative;
          font-size: var(--body-text-xsmall-strong-size);
          line-height: 16px;
          font-weight: 500;
          font-family: var(--body-text-xsmall-strong);
          color: var(--grises-gris-02);
          text-align: left;
        }       
      }
    }
  }
  #list {
    height: var(--list-height);
    overflow-y: scroll;
    li {
      .row {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}
.close-right {
  display: none;
}

/* Responsiveness */
@media (max-width: 600px) {
  .small {
    display: flex;
  }
  .large {
    display: none;
  }
  .title-details {
    flex-direction: column;
  }
  .title-left {
    flex-direction: column-reverse;
  }
  #filters {
    #filters-right {
      min-width: 100%;
      height: 100vh;
      gap: 16px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(255,255,255,0.95);
      position: absolute;
      z-index: 500;
      .close-right {
        display: flex;
      }
      > div {
       flex-direction: column; 
      }
      > button {
        border-radius: 100%;
        border: 1px solid rgb(0, 0, 0);
        padding: 6px 8px;
        align-self: end;
        margin: 24px 30%;
        min-width: 32px;
      }
      > svg {
        width: 16px;
      }
    }
    #filters-left {
      align-items: flex-start;
      input[type="text"] {
        min-width: inherit;
        flex-grow: 1;
      }
      .small {
        display: flex;
      }
    }
  }
  .mobile-hide {
    display: none !important;
  }
}